<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>CategoryDetailTableViewCell</string>
	</dict>
	<dict>
		<key>text</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>ItemDetailsTableViewCell</string>
	</dict>
	<dict>
		<key>text</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>TwoDDButtonTableViewCell</string>
	</dict>
	<dict>
		<key>text</key>
		<string></string>
		<key>title</key>
		<string>Place The Order</string>
		<key>icon</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>GreanButtonTableViewCell</string>
	</dict>
	<dict>
		<key>text</key>
		<string></string>
		<key>title</key>
		<string>Add to favourites</string>
		<key>icon</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>WhiteButtonTableViewCell</string>
	</dict>
</array>
</plist>
